source https://nuget.org/api/v2
storage:none

clitool dotnet-fable
nuget Fable.Core
nuget Fable.Import.Browser
nuget Fable.Import.Electron
nuget Fable.Import.Node
nuget Fable.React
nuget FSharp.Core
nuget Fable.Elmish
nuget Fable.Elmish.React
nuget Fable.Elmish.Browser
nuget Fable.Elmish.Debugger
nuget Fable.Elmish.HMR
nuget Fable.PowerPack
github fable-compiler/ts2fable-exports:dev Monaco.fs

group Build
source https://nuget.org/api/v2

nuget FAKE